.app {
  --main-text-color: #374151;
  --secondary-text-color: #6b7280;
  --placeholder-text-color: #9ca3af;

  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;

  --control-border-color: #e5e7eb;
  --control-border-radius: 0.375rem;

  --action-background-color: #0ea5e9;
  --action-background-color-hover: #0284c7;
  --action-text-color: #fff;
  --action-text-color-disabled: rgba(255,255,255,0.75);
}

.app {
  color: var(--main-text-color);
  line-height: 1.25rem;
}
